/* --- RESET & VARIABLES --- */
:root {
    /* PALET WARNA BARU */
    --primary-red: #F71C00;
    --dark-bg: #202420;
    --text-white: #FFFFFF;
    --accent-blue: #00FFCC; /* Warna Biru untuk Glitch/Aksen */

    /* FONT BARU */
    --font-heading: 'Khand', sans-serif;
    --font-body: 'IBM Plex Mono', monospace;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: var(--accent-blue);
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    font-family: var(--font-body);
    color: var(--text-white);
}

/* --- DECORATION UTILITIES --- */
.deco-corner-tl, .deco-corner-bl, .deco-corner-tr, 
.deco-corner-tl-white, .deco-corner-bl-white {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border: 1vw solid transparent;
    border-radius: 15px;
}

/* Sudut Putih di Background Gelap */
.deco-corner-tl { top: 20px; left: 20px; border-top-color: var(--text-white); border-left-color: var(--text-white); }
.deco-corner-bl { bottom: 20px; left: 20px; border-bottom-color: var(--text-white); border-left-color: var(--text-white); }
.deco-corner-tr { top: 20px; right: 20px; border-top-color: var(--text-white); border-right-color: var(--text-white); }

/* Sudut Putih di Background Merah */
.deco-corner-tl-white { top: 25px; left: 25px; border-top-color: var(--text-white); border-left-color: var(--text-white); }
.deco-corner-bl-white { bottom: 25px; left: 25px; border-bottom-color: var(--text-white); border-left-color: var(--text-white); }

.barcode, .barcode-white, .barcode-corner-br {
    font-family: var(--font-heading);
    font-weight: 700;
    padding-top: 40px;
    letter-spacing: 2px;
    position: absolute;
    font-size: 2rem;
}

.barcode { top: 30px; left: 80px; color: var(--text-white); }
.barcode-white { top: 35px; left: 80px; color: var(--text-white); }
.barcode-corner-br { bottom: 20px; right: 20px; color: var(--text-white); background: var(--dark-bg); padding: 2px 5px;}

/* --- SECTION 1: HERO --- */
.hero-section {
    display: flex;
    height: 100vh;
    min-height: 550px;
    background-color: var(--dark-bg);
}

.hero-left {
    width: 30%;
    background-color: var(--dark-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #333;
}

.images{
    width: 30px;
    height: 80px;
    padding-top: 10px;
}

.avatar img {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    border: 3px solid var(--text-white);
    margin-bottom: 20px;
    object-fit: cover;
    /* Memberikan sedikit efek bayangan biru */
    box-shadow: 4px 4px 0px var(--accent-blue);
    margin-left: 10px;

}

.hero-left h1 {
    font-family: "Alumni Sans", sans-serif;
    color: var(--primary-red);
    font-size:5rem; /* Ukuran lebih besar karena font Khand condensed */
    line-height: 0.9;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.social-icons-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.social-icons-hero i {
    background: var(--primary-red);
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--text-white);
    transition: 0.3s;
}

.social-icons-hero i:hover {
    background: var(--accent-blue);
    color: var(--dark-bg);
    transform: translateY(-3px);
}

.role {
    grid: flex;
    justify-content: center;
    font-family: var(--font-body);
    font-size: 1rem;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
}

.hero-center {
    width: 10%;
    background-color: var(--primary-red);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vertical-text {
    font-family: var(--font-heading);
    font-size: 4.5rem; /* Khand lebih ramping, jadi font diperbesar */
    color: var(--text-white);
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-weight: 700;
}

.hero-right {
    width: 60%;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: inset 100px 0 150px rgba(32, 36, 32, 0.9); /* Fade ke warna background 202420 */
}

/* --- SECTION 2: ABOUT ME --- */
.about-section {
    display: flex;
    min-height: 40px;
}

.about-left {
    width: 50%;
    background-color: var(--primary-red);
    padding: 200px 60px;
    position: relative;
    color: var(--text-white);
}

.about-left h2 {
    font-family: var(--font-heading);
    font-size: 5rem;
    line-height: 0.9;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
}

.about-left p {
    font-family: var(--font-body);
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 90%;
    padding: 15px;
}

.software-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.soft-icon {
    width: 100px;
    background: none;
    color: var(--primary-red);
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.soft-icon-1 {
    width: 90px;
    background: white;
    color: var(--primary-red);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 1px;
}


.about-right {
    width: 50%;
    background-color: var(--dark-bg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dekorasi Kotak dengan Aksen Biru */
.deco-square-tr {
    position: absolute;
    top: 40px; right: 40px;
    width: 55px; height: 55px;
    border: 10px solid var(--text-white);
}

.deco-square-br {
    position: absolute;
    bottom: 40px; right: 40px;
    width: 55px; height: 55px;
    background: var(--text-white);
    /* Sedikit border biru untuk variasi */
    border: 10px solid var(--accent-blue);
}

/* Arch Photo Frame */
.photo-arch {
    width: 420px;
    height: 600px;
    background: var(--text-white);
    border-radius: 210px 210px 0 0;
    position: reablative;
    /* Efek Glitch: Bayangan warna Biru 00FFCC */
    box-shadow: -8px 8px 0px 0px var(--accent-blue);
    overflow: hidden;
}

.arch-inner {
    width: 100%;
    height: 100%;
    background-color: #ddd; /* Ganti dengan gambar aslimu nanti */
    /* Contoh cara memasukkan gambar: background-image: url('foto.jpg'); background-size: cover; */
}

/* --- SECTION 3: HIGHLIGHT --- */
.highlight-section {
    background-color: var(--dark-bg);
    padding-bottom: 0;
}

.red-bar {
    height: 4px;
    background-color: var(--primary-red);
    width: 100%;
}

.gallery-grid {
    display: flex;
    background-color: #000;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    gap: 2px;
    scrollbar-width: none;
    
}

.nav-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.btn-scroll {
    background: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.btn-scroll:hover {
    background: #555;
}

.gallery-item {
    flex-shrink: 0;
}

.gallery-wraper {
    position: relative; 
    display: flex;
    align-items: center;
    width: 100%;
}

/*button gulir kanan kiri*/

.btn-geser-left {
    background-color: transparent;
    scale: 20%;
    filter: opacity(80%);
    border-color: transparent;
    
}

.btn-geser-right {
    background-color: transparent;
    scale: 20%;
    filter: opacity(80%);
    border-color: transparent;
    
}

.gallery-grid::-webkit-scrollbar{
    
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: flex-start;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width:none;
}

/*isi foto*/

.gallery-item {
    flex: 0 0 30rem;
    height: 50vw;
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.4s ease;
    filter: grayscale(100%);
    object-fit: cover;
}

.gallery-vid {
        flex: 0 0 30rem;
    height: 50vw;
    overflow: hidden;
    position: relative;
}

/*special effect*/
#art4 {
    display: none;
}

#art5 :hover {
    content: url("img/vtbgif.webp");
}

/* Efek Hover: Gambar jadi full color dan zoom */
.gallery-item:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}

.highlight-title-bar {
    background-color: var(--dark-bg);
    padding: 15px 0;
    text-align: center;
    border-top: 4px solid var(--primary-red);
    position: relative;
}

.highlight-title-bar h2 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--text-white);
    letter-spacing: 2px;
}

/* --- SECTION 4: CONTACT ME --- */
.contact-section {
    display: flex;
    min-height: 300px;
    border-top: 2px solid var(--text-white); /* Garis pemisah tipis */
}

.contact-left {
    width: 60%;
    background-color: var(--dark-bg);
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-left h2 {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--text-white);
}

.contact-list {
    font-family: var(--font-body);
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #ccc;
}

.contact-item i {
    width: 30px;
    height: 30px;
    background: var(--primary-red); /* Lingkaran background merah */
    color: var(--text-white);       /* Ikon putih */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.9rem;
}

/* Hover effect pada contact item */
.contact-item:hover {
    color: var(--accent-blue);
    cursor: pointer;
}
.contact-item:hover i {
    background: var(--accent-blue);
    color: var(--dark-bg);
}

.contact-right {
    width: 40%;
    background-color: var(--primary-red);
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: auto;
    }
    .hero-left { width: 100%; border-right: none; padding: 40px 20px; }
    
    .hero-center { 
        width: 100%; 
        height: 70px; 
    }
    .vertical-text {
        writing-mode: horizontal-tb;
        transform: rotate(0);
        font-size: 3rem;
    }

    .fab-container {
  /* Ini yang paling penting: menambatkan container ke layar */
  position: fixed; 
  bottom: 20px; /* Jarak dari bawah layar */
  right: 20px;  /* Jarak dari kanan layar */
  z-index: 1000; /* Memastikan tombol di atas konten lain */
  display: flex;
  flex-direction: column-reverse; /* Tombol utama di bawah */
  align-items: flex-end;
}

.fab-main{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-decoration: none; /* Untuk tag <a> */
}

.fab-main {
  background-color: #ff0000; /* Merah seperti di gambar */
  font-size: 24px;
  margin-top: 10px;
}

.popup{
  background-color: #e60000;
  margin-bottom: 10px;
  /* Animasi pop-up: sembunyikan secara default */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Kelas aktif yang ditambahkan oleh JavaScript */
.fab-option-btn.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
    .hero-right { width: 100%; height: 250px; }

    .about-section { flex-direction: column; }
    .about-left, .about-right { width: 100%; padding: 40px 30px; }
    .gallery-grid{flex-direction: row;}
    .gallery-item {flex: 0 0 30vw;}
    .contact-section { flex-direction: column; }
    .contact-left, .contact-right { width: 100%; }
    .contact-right { height: 80px; }
    .btn-geser-left {width: 0%;}
    .btn-geser-right{width: 0%;}
}

.fab-container {
  /* Ini yang paling penting: menambatkan container ke layar */
  position: fixed; 
  bottom: 20px; /* Jarak dari bawah layar */
  right: 20px;  /* Jarak dari kanan layar */
  z-index: 1000; /* Memastikan tombol di atas konten lain */
  display: flex;
  flex-direction: column-reverse; /* Tombol utama di bawah */
  align-items: flex-end;
}

.fab-main, .fab-option {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-decoration: none; /* Untuk tag <a> */
}

.fab-main {
  background-color: #ff0000; /* Merah seperti di gambar */
  font-size: 24px;
  margin-top: 10px;
}

.popup {
       display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}


.popup i {
    background: var(--primary-red);
    width: 3vw;
    height: 3vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--text-white);
    transition: 0.3s;
}

.popup {
     background: var(--primary-red);
    width: 3vw;
    height: 3vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--text-white);
    transition: 0.3s;
  /* Animasi pop-up: sembunyikan secara default */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Kelas aktif yang ditambahkan oleh JavaScript */
.popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Kelas baru untuk menyembunyikan seluruh FAB */
.fab-container.hidden {
    display: none !important; /* Menyembunyikan elemen sepenuhnya */
    /* Atau bisa juga: visibility: hidden; opacity: 0; */
}

.fab-container i:hover {
    background: var(--accent-blue);
    color: var(--dark-bg);
    transform: scale(110%)
}

/*hover effect for gulir*/

#gulir-left :hover {
    transform: scale(110%);
    filter: brightness(110%);
}

#gulir-right :hover {
    transform: scale(110%);
    filter: brightness(110%);
}
